__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.git/
.gitignore
.env
.venv/
venv/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.dvc/
mlartifacts/
artifacts/
models/*.dvc
*.joblib
*.db
*.sqlite3
airflow/logs/
airflow/db/
notebook/
.vscode/
