PROJECT_ENV=dev
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_TRACKING_URI_DOCKER=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=course_recommendation.dev
MLFLOW_ARTIFACT_URI=./mlartifacts
MLFLOW_MODEL_REGISTRY_NAME=course_recommendation
MLFLOW_MODEL_STAGE=Staging
APP_HOST=0.0.0.0
APP_PORT=8000
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=change-me
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__CORE__FERNET_KEY=o8CMFVH7vcpjaI5tsKa8RytKLhw_5mxz53Jtb5yCWm8=
PYTHONPATH=/opt/airflow
